# Ignore system files
.DS_Store
Thumbs.db
*.log
*.lock

# Ignore directories
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
AppData/
Contacts/
Downloads/
Favorites/
IntelGraphicsProfiles/
Saved Games/
Searches/
Videos/